* {
    /* `otf-font-awesome` is required to be installed for icons */
    all: unset;
    font-family: Iosevka, sans-serif;
    padding: 2px;
}

/* :root {
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
    --text: #cad3f5;
    --subtext0: #a5adcb;
    --subtext1: #b8c0e0;
    --surface0: #363a4f;
    --surface1: #494d64;
    --surface2: #5b6078;
    --overlay0: #6e738d;
    --overlay1: #8087a2;
    --overlay2: #939ab7;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --sapphire: #7dc4e4;
    --sky: #91d7e3;
    --teal: #8bd5ca;
    --green: #a6da95;
    --yellow: #eed49f;
    --peach: #f5a97f;
    --maroon: #ee99a0;
    --red: #ed8796;
    --mauve: #c6a0f6;
    --pink: #f5bde6;
    --flamingo: #f0c6c6;
    --rosewater: #f4dbd6;
    --transparent: #FF00000;
} */
#custom-logo {
    margin-top: 10px;
    font-size: 20px;
    padding: 0;
}

#waybar {
    background-color: #24273a;
    color: #cad3f5;
    border-radius: 12px;
}

#workspaces {
    font-size: 14px;
    font-weight: bold;
}

#workspaces button {
    color: #cad3f5;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: #363a4f;
}

#workspaces button.active {
    background-color: #c6a0f6;
    color: #181926;
}

#workspaces button.active:hover {
    background-color: #c6a0f6;
}

#workspaces button.urgent {
    background-color: #ed8796;
    color: #181926;
}

#workspaces button.urgent:hover {
    background-color: #ed8796;
    color: #181926;
}

#battery {
    color: #a6da95;
}

#battery:hover {
    background-color: #363a4f;
}

#battery.warning {
    color: #eed49f;
}

#battery.critical {
    color: #ed8796;
}

#network {
    color: #91d7e3
}

#network:hover {
    background-color: #363a4f;
}

#network.disabled {
    color: #a5adcb

}
#network.disconnected {
    color: #ed8796
}

#wireplumber {
    color: #f0c6c6
}

#wireplumber:hover {
    background-color: #363a4f;
}

#wireplumber.muted {
    color: #a5adcb
}

#wireplumber.high {
    color: #a6da95 

}

#wireplumber.medium {
    color: #eed49f 
}

#wireplumber.low {
    color: #ed8796
}

#bluetooth {
    color: #8aadf4
}

#battery,
#wireplumber,
#network,
#bluetooth {
    font-size: 18px;
}

#clock{
    margin-top: 10px;   
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 900;
}

#clock:hover {
    background-color: #363a4f;
}